<html ng-app="TaskHero">
	<head>
		<title>Task Hero</title>
		<%= stylesheet_link_tag 'bootstrap/stylesheets/css/bootstrap.min.css', :cache => true %>
		<%= stylesheet_link_tag 'main.css'%>
		<%= yield_content :stylesheets %>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<!-- Trocar por partial -->
				<div id="list-region" class="span2">
					<div id="list-header">
						<h3 class="text-center">Task Hero</h3>
					</div>
					<div id="list-content" ng-controller="UserCtrl">
						<p ng-repeat="list in lists">
							<a href="#" ng-click="loadTasks({{list.id}})">{{list.name}}</a>
						</p>
					</div>
				</div>
				<div ng-view></div>
			</div>
		</div>

		<%= yield_content :javascripts %>
	</body>
</html>